

/** the text input */
.ik-searchbox {
	
}

.ik-searchbox-dropbutton{
	position: absolute;
	padding-left:3px;
	padding-bottom:3px;
	font-size: 0.8em;
	opacity: 0.3;
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.ik-searchbox-dropbutton-active{
	position: absolute;
	padding-left:3px;
	padding-bottom:3px;
	font-size: 0.8em;
	opacity:0.8;
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.ik-searchbox-dropbutton:hover{
	opacity:0.8;
}

.ik-searchbox-hint{
	position: absolute;
	height:auto;
	max-height: 150px;
	overflow: auto;
}

.ik-searchbox-ul{
	margin: 0;
	padding:0 6px 0 0;
	list-style:none;
}

.ik-searchbox-li{
	border-top-style:solid;
	border-width: 1px;
	border-color: white;
	padding: 2px;
	width: 100%;
	background-color: Gainsboro;
	opacity:0.9;
}

.ik-searchbox-li a {
	display: block;
	width : 100%;
	color : black;
}
