

/** the text input */
.ik-searchbox {
	
}

.ik-searchbox-dropbutton {
	position: relative;
	font-size : 0.8em;
	left : -1.2em;
	cursor: pointer;
}

.ik-searchbox-dropbutton:hover {
	opacity:0.8;
}

.ik-opacity3{
	opacity: 0.3;
}

.ik-opacity8{
	opacity:0.8;
}

.ik-searchbox-hint{
	position: absolute;
	height:auto;
	max-height: 150px;
	overflow: auto;
}

.ik-searchbox-ul{
	margin: 0;
	padding:0 6px 0 0;
	list-style:none;
}

.ik-searchbox-tr td {
    border: 1px solid SteelBlue;
    padding: 0;
    margin: 0;
}

.ik-searchbox-table{
	border-collapse:collapse;
}

.ik-searchbox-tr:nth-child(even) td{
	background-color: AliceBlue;
}

.ik-searchbox-tr:nth-child(odd) td{
	background-color: LightBlue;
}

.ik-searchbox-tr {
	cursor: pointer;
	border:none;
	padding: 0;
	margin:0;
}

.ik-searchbox-li{
	border-top-style:solid;
	border-width: 1px;
	border-color: white;
	padding: 2px;
	width: 100%;
	background-color: Gainsboro;
	opacity:0.9;
}

.ik-searchbox-li a {
	display: block;
	width : 100%;
	color : black;
}
